<main>
  <section class="mb-2">
    <h6>Chọn sân</h6>
    <div class="row">
      <div class="w-50 pl-md-4">
        <div class="row w-100">
          <nz-select class="col-md-8 mb-md-2" nzShowSearch nzAllowClear nzPlaceHolder="Loại sân"
            [(ngModel)]="selectedType">
            <nz-option *ngFor="let item of listFieldType" [nzLabel]="item.name" [nzValue]="item.id"
              [nzDisabled]="item.disabled"></nz-option>
          </nz-select>
        </div>
        <ng-container *ngFor="let item of listFields">
          <nz-tag [nzColor]="item.picked ? fieldColorPicked : fieldColor" (click)="pickField(item)">{{item.name}}
          </nz-tag>
        </ng-container>
      </div>
      <div class="w-50">
        <img src="http://baobariavungtau.com.vn/dataimages/201909/original/images1556143_lam_son1.jpg" width="95%"
          alt="">
      </div>
    </div>
  </section>

  <section class="mb-2">
    <h6>Chọn ngày</h6>
    <div class="pl-2">
      <ng-container *ngFor="let item of listDays">
        <nz-tag [nzColor]="item.picked ? dayColorPicked : dayColor" (click)="pickDay(item)">{{item.day}}</nz-tag>
      </ng-container>
    </div>
  </section>

  <section class="mb-2">
    <h6>Chọn khung giờ</h6>
    <div class="pl-2">
      <ng-container *ngFor="let item of listTimes">
        <nz-tag [nzColor]="item.picked ? timeColorPicked : item.status == 2 ? notAvailableColor : timeColor" nz-tooltip
          [nzTitle]="item.status === 2 ? 'Đã có đội đặt' : null" (click)="item.status == 1 ? pickTime(item) : null">
          {{item.timeslot}}</nz-tag>
      </ng-container>
    </div>
  </section>

  <footer class="row">
    <button type="submit" class="btn bg-black m-auto" [disabled]="isLoading" (click)="sendBooking()"><i class="white"
        nz-icon nzType="plus-circle" nzTheme="outline"></i></button>
  </footer>
</main>
