<main>
  <section class="mb-2">
    <h6>Chọn sân</h6>
    <div class="pl-2">
      <nz-tag [nzColor]="fieldColor">Sân 1</nz-tag>
      <nz-tag [nzColor]="fieldColorPicked">Sân 2</nz-tag>
      <nz-tag [nzColor]="fieldColor">Sân 3</nz-tag>
    </div>
  </section>

  <section class="mb-2">
    <h6>Chọn ngày</h6>
    <div class="pl-2">
      <nz-tag [nzColor]="dayColor">Thứ 2 (23/10)</nz-tag>
      <nz-tag [nzColor]="dayColor">Thứ 3 (24/10)</nz-tag>
      <nz-tag [nzColor]="dayColorPicked">Thứ 4 (25/10)</nz-tag>
      <nz-tag [nzColor]="dayColor">Thứ 5 (26/10)</nz-tag>
      <nz-tag [nzColor]="dayColor">Thứ 6 (27/10)</nz-tag>
      <nz-tag [nzColor]="dayColor">Thứ 7 (28/10)</nz-tag>
      <nz-tag [nzColor]="dayColor">Chủ nhật (29/10)</nz-tag>
    </div>
  </section>

  <section class="mb-2">
    <h6>Chọn khung giờ</h6>
    <div class="pl-2">
      <nz-tag [nzColor]="timeColor">06:00 - 07:30</nz-tag>
      <nz-tag [nzColor]="timeColorPicked">07:30 - 09:00</nz-tag>
      <nz-tag [nzColor]="timeColor">09:00 - 10:30</nz-tag>
      <nz-tag [nzColor]="timeColor">13:00 - 14:30</nz-tag>
      <nz-tag [nzColor]="notAvailableColor" nz-tooltip nzTitle="Đã có đội đặt">14:30 - 16:00</nz-tag>
      <nz-tag [nzColor]="notAvailableColor" nz-tooltip nzTitle="Đã có đội đặt">16:00 - 17:30</nz-tag>
      <nz-tag [nzColor]="timeColor">17:30 - 19:00</nz-tag>
      <nz-tag [nzColor]="notAvailableColor" nz-tooltip nzTitle="Đã có đội đặt">19:00 - 20:30</nz-tag>
      <nz-tag [nzColor]="timeColor">20:30 - 22:00</nz-tag>
    </div>
  </section>
</main>
