/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';

body {
  // font-family: 'Montserrat';
  // font-family: 'Roboto';
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ant-select-selection {
  border-radius: 20px;
}

.ant-table-fixed {
  thead {
    tr {
      th {
        background-color: #550a46 !important;
        color: white;

        &.stt {
          width: 63px !important;
          text-align: center !important;
        }

        &.action {
          width: 130px !important;
          text-align: center;
        }

        &.status {
          width: 130px !important;
          text-align: center !important;
        }
      }
    }
  }
}
