<div class="card m-5" style="width:18rem">
  <ul class="list-group">
    <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>First Name : </strong>{{userDetails.firstName}}</li>
    <li class="list-group-item"><strong>Last Name : </strong>{{userDetails.lastName}}</li>
    <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
    <li class="list-group-item"><button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button></li>
  </ul>
</div>

<nz-table #basicTable [nzData]="listBooking" [nzLoading]="isLoading" [nzFrontPagination]="false" nzSize="small"
  [nzScroll]="{ x: true }">
  <thead>
    <tr>
      <th class="stt">STT</th>
      <th>Pitch</th>
      <th>Sân</th>
      <th class="text-center">Ngày</th>
      <th class="text-center">Giờ</th>
      <th class="text-center">Giá</th>
      <th class="text-center">Đã trả</th>
      <th class="text-center">Check In</th>
      <th class="text-center">Check Out</th>
      <th class="status">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data; index as i">
      <td class="text-center">{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.field}}</td>
      <td class="text-center">{{item.day}}</td>
      <td class="text-center">{{item.timeSlot}}</td>
      <td class="text-center">{{item.price}}</td>
      <td class="text-center">{{item.paid}}</td>
      <td class="text-center">{{item.checkin | date: 'dd/MM/yyy'}}</td>
      <td class="text-center">{{item.checkout | date: 'dd/MM/yyy'}}</td>
      <td class="text-center">
        <nz-tag [nzColor]="item.status === 2 ? bookedColor : item.status === 1 ? waitColor : canceledColor">
          {{item.status === 2 ? 'Đã đặt' : item.status === 1 ? 'Chờ' : 'Hủy'}}</nz-tag>
      </td>
    </tr>
  </tbody>
</nz-table>
