<header>
  <a [routerLink]="['']" routerLinkActive="active" class="row ml-4">
    <div class="rounded-circle exam-logo"></div> CompanyLogo
  </a>
  <div class="header-right mr-md-5">
    <a class="active nav-link" [routerLink]="['/page/pitchs']" routerLinkActive="active">Sân</a>
    <a class="nav-link" [routerLink]="['/page/temp']" routerLinkActive="">Đội</a>
    <a class="nav-link" [routerLink]="['/page/temp']" routerLinkActive="">Kick-Off</a>
    <a class="nav-link" [routerLink]="['/page/temp']" routerLinkActive="">Cá nhân</a>
  </div>
</header>
