<section>
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="text-center d-lg-none w-100">
      <button class="navbar-toggler dropdown-toggle" data-target="#navbar-second" data-toggle="collapse" type="button">
        <i class="icon-menu7 mr-2"></i> </button>
    </div>
    <div class="navbar-collapse collapse p-0" id="navbar-second">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="navbar-nav-link" href="javascript:;" [ngClass]="{'active show': openTab === 1}" (click)="openTab = 1">
            <i class="icon-magazine mr-2"></i> Cơ bản </a>
        </li>
        <!-- <li class="nav-item" *ngIf="id">
          <a class="navbar-nav-link" href="javascript:;" [ngClass]="{'active show': openTab === 3}" (click)="openTab = 3">
            <i class="icon-certificate mr-2"></i>Log </a>
        </li> -->
      </ul>
    </div>
  </div>
  
  <div class="tab-content w-100 overflow-auto">
    <div class="tab-pane fade mt-2" [ngClass]="{'active show': openTab === 1}">
      <form class="form-horizontal" [formGroup]="myForm" novalidate>
        <div class="card">
          <div class="card-body">
            <div class="row" formGroupName="other">
              <div class="form-group col-md-6">
                <label>Ngày lập <span class="text-danger">*</span> </label>
                <input-date class="form-control" placeholder="dd/mm/yyyy" formControlName="creatDate"></input-date>
                <render-error [data]="myForm.get('other.creatDate')"></render-error>
              </div>
              <div class="form-group col-md-6">
                <label>Người lập<span class="text-danger">*</span></label>
                <input-text class="form-control" placeholder="Nhập người lập" formControlName="creatBy"></input-text>
                <render-error [data]="myForm.get('other.creatBy')"></render-error>
              </div>
            </div>
            <div class="row" formGroupName="data">
              <div class="form-group col-md-6">
                <label>Loại tiền</label>
                <input-select class="form-control" [items]="listCurrency" placeholder="Lựa chọn"
                  formControlName="currency"></input-select>
              </div>
              <div class="form-group col-md-6">
                <label>Tỷ giá </label>
                <input-float class="form-control" placeholder="1.00" [step]="1" min="0" formControlName="exchangeRate">
                </input-float>
              </div>
            </div>
            <div class="row" formGroupName="data">
              <div class="form-group col-md-6">
                <label>Loại chi phí <span class="text-danger">*</span> </label>
                <input-select class="form-control" placeholder="Lựa chọn" [items]="listExpItemGroup"
                  formControlName="expItemId"></input-select>
                <render-error [data]="myForm.get('data.expItemId')"></render-error>
              </div>
              <div class="form-group col-md-6">
                <label>Tên chi phí<span class="text-danger">*</span></label>
                <input class="form-control" placeholder="Nhập tên chi phí" formControlName="costName" id="costName">
                <render-error [data]="myForm.get('data.costName')"></render-error>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6" formGroupName="data">
                <label>Tên dự án<span class="text-danger">*</span> </label>
                <input-select class="form-control" placeholder="Lựa chọn" [items]="listProject"
                  formControlName="projectId" (onChange)="updateByProject()"></input-select>
                <render-error [data]="myForm.get('data.projectId')"></render-error>
              </div>
              <div class="form-group col-md-6" formGroupName="other">
                <label>Trạng thái </label>
                <input-text class="form-control" formControlName="statusProject" [readonly]="true"></input-text>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6" formGroupName="other">
                <label>Tổng giá trị HĐ </label>
                <input-text class="form-control" formControlName="tsumContracts" [readonly]="true"
                  (onChange)="setAmountOfMoney()">
                </input-text>
              </div>
              <div class="form-group col-md-6" formGroupName="data">
                <label>Phần trăm </label>
                <input-float class="form-control" [step]="1" min="0" max="100" formControlName="percentage"
                  [placeholder]="'0.00'" (onChange)="setAmountOfMoney()"></input-float>
              </div>
            </div>
            <div class="row" formGroupName="data">
              <div class="form-group col-md-6">
                <label>Số tiền<span class="text-danger">*</span> </label>
                <input-number class="form-control" min="0" [step]="1" formControlName="amountOfMoney" id="amountOfMoney"
                  [placeholder]="'0.00'"></input-number>
                <render-error [data]="myForm.get('data.amountOfMoney')"></render-error>
              </div>
            </div>
            <div class="row" formGroupName="data">
              <div class="form-group col-md-12">
                <label>Ghi chú</label>
                <input-textarea class="form-control" formControlName="note" placeholder="Nhập ghi chú"></input-textarea>
                <render-error [data]="myForm.get('data.note')"></render-error>
              </div>
            </div>
  
          </div>
        </div>
        <div class="text-right mt-4">
          <button class="btn btn-primary mr-3" [disabled]="isLoading" (click)="submit()" [hidden]="isView">
            <i nz-icon="" nztype="close-circle" class="anticon anticon-close-circle mr-1"
              ng-reflect-nz-type="close-circle"></i>
            {{isLoading ? 'Đang tải...':'Lưu đóng'}} </button>
          <button class="btn btn-primary" [disabled]="isLoading" (click)="submit(false)" [hidden]="isView"><i
              class="anticon mr-1 anticon-plus-circle" nz-icon="" nztheme="outline" nztype="plus-circle"
              ng-reflect-nz-type="plus-circle" ng-reflect-nz-theme="outline"></i>
            {{isLoading ? 'Đang tải...':'Lưu thêm'}}</button>
        </div>
      </form>
    </div>
  
  
    <div class="tab-pane fade mt-2" [ngClass]="{'active show': openTab === 3}">
      <div class="card">
        <div class="card-body">
          <!-- Content area -->
          <fieldset>
            <nz-table #basicTable [nzData]="listLog" [nzLoading]="isLoading" [nzBordered]="true"
              [nzFrontPagination]="false" nzSize="small" [nzScroll]="{ x: true }">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Người tạo</th>
                  <th class="text-center">Ngày tạo</th>
                  <th class="text-center">Người cập nhật</th>
                  <th class="text-center">Ngày cập nhật</th>
                </tr>
              </thead>
              <tbody>
  
                <tr *ngFor="let item of listLog">
                  <td class="text-center">{{item.beginDate | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{item.endDate | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{item.beginDate | date:'dd/MM/yyyy'}}</td>
                  <td class="text-center">{{item.endDate | date:'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>
            </nz-table>
  
          </fieldset>
          <!-- /content area -->
        </div>
      </div>
    </div>
  
  </div>
</section>