<footer id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-center text-md-center justify-content-center">
      <h5><a [routerLink]="['/page/pitchs']" routerLinkActive="active" class="row">
          <div class="rounded-circle exam-logo"></div> CompanyLogo
        </a></h5>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-1 mt-sm-2">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>Bookball là một dự án phát triển cộng đồng bóng đá được bắt đầu tại Việt Nam</p>
        <p class="h6">Copy All right Reversed &copy; <script>
            document.write(new Date().getFullYear());

          </script><a class="ml-2" href="javascript:">Bookball</a></p>
      </div>
    </div>
  </div>
</footer>
